@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-mono: "Courier New", monospace;
}

* {
  box-sizing: border-box;
}

body {
  background: #030712;
  color: #f9fafb;
}
